.leaflet-control-better-filelayer {
    background-color: #fafafa;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-image: url(/Ressources/API_JS/images/easyButton/folder.svg);
    /* background-size: cover; */
	background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 25px;
    cursor: pointer;
}

.leaflet-control-better-filelayer input[type="file"] {
    width: 80%;
    height: 80%;
    opacity: 0;
    cursor: pointer;
}
